.formulario{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem ;
    margin-bottom: 4rem;
}

.formulario form{
    max-width: 80%;
    background-color: #f7f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 8px 80px;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}



